POSTGRES_DB=netassets
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

DEBUG=True

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=change_me
DEFAULT_ADMIN_EMAIL=admin@example.com
